* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

  /* Logo & Menu */
.logo-menu {
  margin:40px ;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
}
.headermenu {
  padding-right: 40px;
  display: inline-flex;
}

 /* Menu Items */
.accommodations {
  padding-right: 50px;
  color: black;
  text-decoration: none;
}
.accommodations:hover{
  color: #0065FC;
}
 .activities {
  padding-right: 50px;
  color: black;
  text-decoration: none;
 }
 .activities:hover{
  color: #0065FC;
 }
.signup {
    color: #0065FC;
    text-decoration: none;
}

/* Footer */
.main-footer{
    background-color: #f2f2f2 ;
    padding: 40px;
    width: 100%;
    margin-top: 40px;
    line-height: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
.main-footer > div:nth-child(1) {
    grid-column: 1;
    margin-left: 40px;
}
.main-footer > div:nth-child(2) {
    grid-column: 2;
}
.main-footer > div:nth-child(3) {
    grid-column: 3;
}

/* Slogans */
.slogans{
    padding-left: 40px ;
    line-height: 35px;
}

/* Input Navigation */
.inputnav {
    margin-left: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.fa-map-marker-alt {
    background-color: #f2f2f2 ;
    padding: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    float: left;
    width: 17px;
    height: 14px;
}
.searchinput {
    font-size: 20px ;
    font-weight: bold;
    padding: 15px;
    float: center;
    margin-left: -0.7px;
    border:1px; 
    border-style:solid; 
    border-color:#f2f2f2; 
    width: 220px;
    height: 22px;
}
.searchbutton {
    font-size: 20px ;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    padding: 15px;
    float: right;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: -0.5px;
    border: none;
}

/* Filter Navigation */
.filternav {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}
.filternav p{
    font-size: 20px;
    padding-right: 25px;
    padding-left: 20px; 
    padding-top: 15px;
    padding-bottom: 15px;
}
.filter{
  padding-right: 10px;
  background-color:white;
  border-radius: 25px;
  border-style:solid;
  border-color: #F2F2F2;
  margin-right: 20px;
}
.filter:hover {
  background-color: #DEEBFF;
  color: white;
}
.filtertxt {
  font-size: 20px ;
  color:black;
  font-weight: bold;
  background-color: transparent;
  border:none;
}  
.fa-money-bill-wave {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 10px;
    border: 12px; 
    border-radius: 35px;
}
.fa-child {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 10px;
    border: 12px; 
    border-radius: 50px;
}
 .fa-heart {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 10px;
    border: 12px; 
    border-radius: 35px;
 }
 .fa-dog {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 10px;
    border: 12px; 
    border-radius: 35px;
 }

 .info-footer {
    margin-left: 40px;
    width: 420px;
    display: flex;
    align-items: flex-start;
    line-height: 25px;
 }
 .fa-info {
  color:#0065FC;
  padding: 5px 10px 5px 10px ;
  margin-right: 10px;
  border-radius: 50px;
  border:solid 2px #F2F2F2 ;
 }

/* Activities in Marseille */
 .activities-in-m {
    padding-left: 40px;
    padding-right: 40px;
 }
  
  .activityrow {
    display: flex;
    width: 100%;
    margin: 50px auto 0;
  }
  
  /* One-Row Items */
  .activityrow .col {
    width: calc(94% / 4);
    margin-right: 1%;
    margin-left: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 24px;
  }
  .activityrow .bigcard {
    text-decoration: none;
  }
  
  .activityrow .col:first-child {
    margin-left: 0;
    
  }
  .activityrow .col:last-child {
    margin-right: 0;  
  }
  
  /* Two Rows Items */
  .activityrow .has-two-rows {
    box-shadow: none;
    text-decoration: none;
  }
  .activityrow .has-two-rows .smallcard {
    height: calc(95% / 2);
    margin-bottom: 8%;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .activityrow .has-two-rows .smallcard:last-child {
    margin-bottom: 0px;
  }

  /* Card Item */
  .bigcard img {
    height: 400px;
    border-radius: 24px 24px 0 0;
  }
  .smallcard img {
      max-height: 160px ;
      border-radius: 24px 24px 0 0;
  }
  .activityrow .col img{
    width: 100%;
    object-fit: cover;
}
 .col h3 {
   height: 50px;
   display: flex;
   align-items : center ;
   padding-left: 20px;
   color: black;
 }

/* Accommodations in Marseille */
.accommodationsection {
    display: flex;
    width: 100%;
}
 .accommodations-in-m {
   background-color: #F2F2F2;
   padding: 30px;
   border-radius: 24px;
   margin: 25px 20px 40px 40px ;
   width: 70%;
   
  }
  .accommodations-in-m .Activitylink {
    padding bottom: 200px;
  }
 .accommodationtext {
    padding: 20px ;
}
  .accommodationsrow {
    display: flex;
  }  
  .sectionheader{
      display :inline-flex;
  }

  /* Two Rows Items */
  .accommodationsrow .coltworows {  
      border-radius: 24px;
      text-decoration: none;
  } 
  .accommodationsrow .coltworows .card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 24px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border: 4px solid #F2F2F2;
  }
  
  /* Card Item */
  .card img {
    width: 100%;
    max-height: 120px;
    border-radius: 24px 24px 0 0;
    object-fit: cover;
  }
  span{
      color: #0065FC;
  }
  .greystars {
      color: lightgrey;
  }
  .cardtext {
      padding: 5px 0 5px 15px;
      font-size: 14px; 
      line-height: 25px;
      color: black;  
  }

/* Most popular */  
.most-popular {
    margin-right: 40px;
    background-color: #F2F2F2;
    border-radius: 24px;
    margin: 25px 40px 40px 20px;
    padding: 30px;
    width: 30%;
}
.popular-header {
    padding: 20px;
    display:flex;
    justify-content: space-between;
}
.graph-icon{
  font-size: 25px;
}
  .popularrow {
    display: block;
  }

  /* Row Items */
  .popularrow .row {
  padding-bottom: 30px;
  width: 100%;
  }
  .popularrow .row .popcard {
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border: 4px solid #F2F2F2;
     display: flex;
     margin-left: 15px;
     margin-right: 15px;
     text-decoration: none;
  }
  
  .popularrow .row .popcard:last-child {
    margin-bottom: 0;
  }
  
  /* Pop Card Item */
  .popcard img {
    max-width: 140px;
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 24px 0 0 24px;

  }
  .popcardtext {
      display: inline-block;
      padding: 5px 0 5px 15px;
      font-size: 14px;
      line-height: 50px;  
      color: black;  
      
  }
  .popcardtext h3 {
    line-height: 20px;
  }

